body
{
  /* colors */
  --midnight: #221F4D;
  --storm: #516F90;
  --coconut: #ffffff;

  /* font families */
  --font-family-default: 'Open Sans', sans-serif;

  /* font sizes */
  --font-size-h1: 2rem;
  --font-size-body: 1rem;

  /* font weights */
  --font-weight-regular: 400;

  /* font colors */
  --font-color-primary: var(--midnight);
  --font-color-secondary: var(--storm);

  /* shadows */
  --box-shadow-primary-nav: 0 0 0.5rem 0 rgba(11, 66, 168, 0.2);
}